.card {
    background-color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px 5px gray;
    width: 100%;
    padding-bottom: 20px;

}

/* card image */

.watch-img {
    width: 100%;
    height: 250px;
    border-radius: 10px 10px 0 0;
}

/* card info */

.card-name {
    font-size: 30px;
    font-weight: 400;
}

/* card button */
.add-to-cart-btn {
    padding: 10px;
    border: none;
    color: #0011ff;
    background-color: transparent;
    cursor: pointer;
}

.card-info {
    padding: 10px;
}